<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}" style="font-family: 'Montserrat'">Read.me</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Главная</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Пользователь
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/people/new}">Добавить</a></li>
                        <li><a class="dropdown-item" th:href="@{/people}">Показать список</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBook" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Книга
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/books/new}">Добавить</a></li>
                        <li><a class="dropdown-item" th:href="@{/books}">Показать список</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Отключенная</a>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-success" type="submit" style="
                        margin-right: 15px;
                        ">Регистрация</button>
                <button class="btn btn-outline-success" type="submit">Вход</button>
            </form>
        </div>
    </div>
</nav>
<div class="container-lg">
    <h1>Список книг</h1>
    <form class="d-flex" style="margin-top: 25px;">
        <input class="form-control" type="search" placeholder="Поиск" aria-label="Поиск" style="width: 300px; margin-right: 15px;">
        <button class="btn btn-outline-success" type="submit">Поиск</button>
    </form>
    <div class="card w-100" style="margin: 0 auto; margin-top: 15px;" th:each="book,iterStat : ${books}">
    <div class="card-body">
        <h4 class="card-title" th:text="${book.getName()}">Заголовок 1</h4>
        <h5 class="card-title" th:text="${book.getAuthor()}">Заголовок 2</h5>
        <p class="card-text">События происходят на территории Японии, где проживает Ичиго Куросаки. Парень с ранних лет отличается от сверстников, ведь он умеет общаться с призраками. Однажды к нему в комнату залетает барышня, которую зовут Рукия Кучики. Незваная гостья является неким проводником человеческих душ. Девушка сильно удивляется тому, что юноша имеет способность видеть её и даже прикасаться. Пока ошеломлённая героиня томится в размышлениях, в помещение неожиданно врывается злой дух, называемый «пустым».
            Рукия мгновенно бросается спасать мальчишку, в результате чего развязывается нешуточное противостояние и она получает сильнейшее ранение. Девочка поняла, что не может продолжать бороться и принимает решение передать собственные силы новоиспеченному приятелю. Ичиго ловко поглощает переданную энергию и расправляется со злодеем. Но оказывается, что поделившись даром, девушка стала настоящей преступницей и теперь её непременно накажут. Юному храбрецу ничего не остается, как встать на защиту подруги.</p>
        <div style="display: flex">
            <a th:href="@{/books/{id}/edit(id=${book.getId()})}" class="btn btn-outline-primary">Изменить</a>
            <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}" style="margin-left: 15px;">
                <input type="submit" value="Удалить" class="btn btn-outline-danger"/>
            </form>
        </div>


    </div>
    </div>
</div>
<hr/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>