<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New person</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>
<body style="margin-top: 10px; margin-left: 10px;">
<h1>Добавить книгу</h1>
<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name">Название</label>
            <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Введите название">
            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
        </div>
        <div class="form-group col-md-6">
            <label for="author">Автор</label>
            <input type="text" class="form-control" th:field="*{author}" id="author" placeholder="Введите автора">
            <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author Error</div>
        </div>
        <div class="form-group col-md-6">
            <label for="description">Описание</label>
            <input type="text" class="form-control" id="description" placeholder="Добавить описание" style="
                   height: 200px;
                    text-align: left">
        </div>
    </div>
    <input type="submit" value="Добавить" style="
                   margin-top: 50px;"/>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>